autopep8==2.3.2
cffi==1.16.0
clr-loader==0.2.6
colorama==0.4.6
et-xmlfile==1.1.0
flake8==7.3.0
iniconfig==2.0.0
mccabe==0.7.0
mypy==1.17.1
mypy_extensions==1.1.0
natsort==8.4.0
openpyxl==3.1.2
packaging==24.0
pathspec==0.12.1
pep8-naming==0.15.1
pluggy==1.4.0
pycodestyle==2.14.0
pycparser==2.22
pyflakes==3.4.0
pytest==8.1.1
pytest-mock==3.14.1
pythonnet==3.0.3
pywin32==306
types-openpyxl==3.1.5.20250822
types-psutil==7.0.0.20250822
types-pywin32==311.0.0.20250915
typing_extensions==4.14.1
xlwings==0.31.1
